{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur SnowTricks !{% endblock %}

{% block body %}
    <div class="container-fluid ps-0 pe-0">
        <div class="backgroundMain">
            <div class="titleMain d-flex justify-content-center align-items-center">
                <h1 class="display-3">Venez apprendre de nouvelles figures !</h1>
            </div>
        </div>
    </div>

{% endblock %}
