<h1>Hello {{ user.username }} ! Veuillez confirmer votre adresse email!</h1>

<p>
    Veuillez confirmer votre adresse email en cliquant sur le lien suivant: <br><br>
    <a href="{{ absolute_url(path('app_verify_email', {token: token})) }}">Confirmer mon adresse email</a>
</p>

