#mainEditTrick {
    background-image: url(../../images/home/unsplash-laptop.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#coverEdit {
    position: relative;

}

#filePhotoEdit {

    position: relative;



    label {
        height: 100%;
        width: 100%;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input {
        opacity: 0;
        height: 0;
        width: 0;
      }
}

.editPhotoFile {
    width: 20px;
    padding-bottom: 13px;
}

.deletePhotoFile {
    width: 20px;
}

@media (min-width: 320px) and (max-width: 480px) 
{

  #mainEditTrick {
    background-image: none;
    padding: 0px !important;
  }

  #mediaEditTrick {
    display: none !important;
  }

  #seeEditMedias {
    display: block !important;
  }

  #addMedias {
    display: none !important;
  }

}