#mainShowTrick {
    background-image: url(../../images/home/unsplash-laptop.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#seeMedias {
  display: none !important;
}

#imageGallery {
  width: 200px;
  height: 160px;
  margin-right: 10px;
}

#mediaTricksForSmallScreen {
  display: none !important;
}

@media (min-width: 481px) and (max-width: 767px) {
  #seeMedias {
    display: block !important;
  }

  #mediaTricks {
    display: none !important;
  }

  #mediaTricksForSmallScreen {
    display: none !important;
  }
}

@media (min-width: 320px) and (max-width: 480px) 
{
  #mediaTricksForSmallScreen {
    display: none !important;
  }

  #mainShowTrick {
    background-image: none;
    padding: 0px !important;
  }

  #mediaTricks {
    display: none !important;
  }

  #seeMedias {
    display: block !important;
  }

  .addCommentary {
    flex-direction: column;
    margin: 0% !important;
  }

  .buttonCommentary {
    width: 100% !important;
    margin-top: 10px;
    margin-left: 0% !important;
  }

  .buttonCommentary button {
    margin-left: 0% !important;
  }

}