<div class="col-4 item">
    {% if form.file is defined %}
        {{ form_row(form.file) }}
    {% endif %}
    {{ form_row(form.cover) }}
    {% if form.vars.data is not null %}
        {{ dump(form.vars.data.name) }}
    {% endif %}
    <div class="form-group">
        <button type="button" class="btn btn-danger btn-remove">Supprimer</button>
    </div>
</div>